*{
    box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background: url(../images/background.png) center;
    background-size: cover;
    background-attachment:fixed;
    color: #36ffc1;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
p:hover
{
    color: #000;
    background: #FFF;
}
a{
    color: #000;
}
a:hover{
    color: #000;
}

h1{
    font-size: 600%;
    letter-spacing: 10px;
}

.Button{
    display: inline-block;
    text-align: center;
    border: 3px solid #36ffc1;
    padding: 15px 60px;
    font-size: 120%;
    text-decoration: none;
    color: #36ffc1;
    border-radius: 50px;
    margin: 40px 0;
}
.Button:hover{
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
}
